{% extends "base.html" %} {% block content %}
<section id="about">
  <div class="about-section">
    <img
      src="{{ url_for('static', filename='img/yourphoto.jpg') }}"
      alt="Your Photo"
    />
    <div>
      <h1>About Me</h1>
      <p>
        Hello! I'm Calvin Raab, a data scientist at Booz Allen Hamilton, with a
        focus on AI explainability. My primary area of interest is enhancing
        human interpretability of deep learning models. For AI to realize its
        full societal potential, trust is essential—and that trust can only be
        earned through model transparency and understanding, which is where my
        work is focused.
      </p>
      <p>
        My academic background in economics has equipped me with a valuable
        framework for decision-making and problem-solving. I have a strong
        interest in economics and finance, where I've conducted extensive
        modeling. I’m passionate about creating tools that enhance human
        experiences and make a meaningful impact.
      </p>
    </div>
  </div>
</section>

<section id="timeline">
  <h2>Timeline</h2>
  <ul class="timeline">
    <li>
      <strong>2021:</strong> Graduated from UCLA with a degree in Economics.
    </li>
    <li>
      <strong>2022:</strong> Started as a Data Scientist at Booz Allen Hamilton.
    </li>
    <li>
      <strong>2023:</strong> Published a paper on Neural Network
      Interpretability.
    </li>
    <!-- Add more milestones here -->
  </ul>
</section>

{% endblock %}
