{% extends "base.html" %} {% block content %}
<section id="about">
  <div class="about-section">
    <div class="about-photo">
      <img
        src="{{ url_for('static', filename='img/yourphoto.jpg') }}"
        alt="Your Photo"
      />
    </div>
    <div class="about-info">
      <h1>About Me</h1>
      <p>
        Hello! I'm Calvin Raab, a data scientist at Booz Allen Hamilton, with a
        focus on AI explainability. My primary area of interest is enhancing
        human interpretability of deep learning models. For AI to realize its
        full societal potential, trust is essential—and that trust can only be
        earned through model transparency and understanding, which is where my
        work is focused.
      </p>
      <p>
        My academic background in economics has equipped me with a valuable
        framework for decision-making and problem-solving. I have a strong
        interest in economics and finance, where I've conducted extensive
        modeling. I’m passionate about creating tools that enhance human
        experiences and make a meaningful impact.
      </p>
    </div>
  </div>
</section>

<section id="timeline">
  <div class="timeline-section">
    <h2>The Highlights</h2>
    <div class="timeline-container">
      <div class="timeline">
        <!-- 2021 -->
        <div class="timeline-item">
          <div class="timeline-date">2021</div>
          <div class="timeline-content">
            <a href="https://www.ucla.edu/" target="_blank">
              <h3>UCLA</h3>
            </a>
            <ul>
              <li>
                June 2021: Graduated from UCLA with a Bachelor's in Economics
              </li>
            </ul>
            <a href="https://www.sandag.org/" target="_blank">
              <h3>SANDAG</h3>
            </a>
            <ul>
              <li>September: Began working as a data scientist at SANDAG</li>
              <li>November: Extensive QA testing on the 2021 Regional Plan</li>
            </ul>
          </div>
        </div>

        <!-- 2022 -->
        <div class="timeline-item">
          <div class="timeline-date">2022</div>
          <div class="timeline-content">
            <a href="https://www.sandag.org/" target="_blank">
              <h3>SANDAG</h3>
            </a>
            <ul>
              <li>
                January - June: Rebuilt the pipeline and dashboard for Covid
                Unemployment Analysis
              </li>
              <li>July - December: QA Testing of the Transportation Network</li>
            </ul>
            <a href="https://umich.edu/" target="_blank">
              <h3>Univeristy of Michigan</h3>
            </a>
            <ul>
              <li>
                April: Began masters degree in Data Science at the University of
                Michigan. Go Blue!
              </li>
            </ul>
          </div>
        </div>

        <!-- 2023 -->
        <div class="timeline-item">
          <div class="timeline-date">2023</div>
          <div class="timeline-content">
            <a href="https://www.sandag.org/" target="_blank">
              <h3>SANDAG</h3>
            </a>
            <ul>
              <li>
                All year: Development and QA Effort of demographic forecasts
              </li>
              <li>
                All year: Development and QA Effort of implementation of
                populationsim into forecasting
              </li>
            </ul>
          </div>
        </div>

        <!-- 2024 -->
        <div class="timeline-item">
          <div class="timeline-date">2024</div>
          <div class="timeline-content">
            <a href="https://www.boozallen.com/" target="_blank">
              <h3>Booz Allen Hamilton</h3>
            </a>
            <ul>
              <li>
                April: Joined Booz Allen Hamilton's AI team as a Data Scientist
              </li>
              <li>
                August: Built a client tool that predicts large scale reloctaion
                costs
              </li>
              <li>
                October: Completed a research paper on model interpretability of
                dense neural networks
              </li>
              <li>
                November: Worked with a client with safely putting LLMs in Space
              </li>
            </ul>
            <a href="https://umich.edu/" target="_blank">
              <h3>Univeristy of Michigan</h3>
            </a>
            <ul>
              <li>
                June: Wrote a research paper on Shallow Learning Algorithmic
                Trading of the S&P 500
              </li>
            </ul>
          </div>
        </div>

        <!-- Future -->
      </div>
    </div>
  </div>
</section>
{% endblock %}
