{% extends "base.html" %} {% block content %}
<section id="about">
  <div class="about-section">
    <div class="about-photo">
      <img
        src="{{ url_for('static', filename='img/yourphoto.jpg') }}"
        alt="Your Photo"
      />
    </div>
    <div class="about-info">
      <h1>About Me</h1>
      <p>
        Hello! I am a Data Scientist on the CTO AI team at Booz Allen Hamilton. My area of interest is in Mechanistic Interpretability—mainly dissecting large neural networks to uncover the reasoning behind their decisions.
      </p>
    </div>
  </div>
</section>

<section id="timeline">
  <div class="timeline-section">
    <h2>The Highlights</h2>
    <div class="timeline-container">
      <div class="timeline">
        <!-- 2025 -->
        <div class="timeline-item">
          <div class="timeline-date">2025</div>
          <div class="timeline-content">
            <a href="https://www.boozallen.com/" target="_blank">
              <h3>Booz Allen Hamilton</h3>
            </a>
            <ul>
              <li>
                January: Began a contract with the <a href="https://www.surfpac.navy.mil/nsmwdc/" target="_blank">
                  Naval Surface and Mine Warfare Development Center (SMWDC)</a>, supporting AI projects for the U.S. Navy
              </li>
            </ul>
          </div>
        </div>
<!-- 2024 -->
<div class="timeline-item">
  <div class="timeline-date">2024</div>
  <div class="timeline-content">
    <a href="https://www.boozallen.com/" target="_blank">
      <h3>Booz Allen Hamilton</h3>
    </a>
    <ul>
      <li>
        April: Joined Booz Allen Hamilton's AI team as a Data Scientist
      </li>
      <li>
        August: Developed a tool to predict large-scale relocation costs
      </li>
      <li>
        October: Led as the primary author of a research paper on model interpretability of dense neural networks
      </li>
      <li>
        November: Collaborated with a client to safely deploy LLMs in space
      </li>
    </ul>
    <a href="https://umich.edu/" target="_blank">
      <h3>University of Michigan</h3>
    </a>
    <ul>
      <li>
        June: Co-authored a 
        <a href="{{ url_for('static', filename='documents/Final Paper MII.pdf') }}" target="_blank">

          research paper</a> on Shallow Learning Algorithmic Trading of the S&P 500
      </li>
      <li>
        December:
          <ul>
            - Completed my Capstone project developing a KPI dashboard with ML tooling for <a href="https://pluto.tv/" target="_blank">
              PlutoTV's</a> advertising team and co-authored a <a href="{{ url_for('static', filename='documents/Capstone_Report.pdf') }}" target="_blank">

              related paper</a> with the dev team.
          </ul>
          <ul>
            - Completed my Master's Degree in Applied Data Science. Go Blue!
          </ul>
      </li>
    </ul>
  </div>
</div>

<!-- 2023 -->
<div class="timeline-item">
  <div class="timeline-date">2023</div>
  <div class="timeline-content">
    <a href="https://www.sandag.org/" target="_blank">
      <h3>SANDAG</h3>
    </a>
    <ul>
      <li>
        All year: 
        Contributed to all phases of the development and QA effort for demographic <a href="https://opendata.sandag.org/stories/s/SANDAG-Census-Estimates-Forecasts-Datasets/8bvt-h7ue/" target="_blank">
        estimates and forecasts</a>
      </li>
      <li>
        All year: Led the development and QA of a 
        <a href="https://activitysim.github.io/populationsim/" target="_blank">
        synthetic population</a> generator integrated into demographic forecasting models
      </li>
    </ul>
  </div>
</div>

<!-- 2022 -->
<div class="timeline-item">
  <div class="timeline-date">2022</div>
  <div class="timeline-content">
    <a href="https://www.sandag.org/" target="_blank">
      <h3>SANDAG</h3>
    </a>
    <ul>
      <li>
        January - June: Rebuilt the pipeline and dashboard for
        <a
          href="https://opendata.sandag.org/stories/s/SANDAG-Unemployment-Analysis/bft8-8eec/#:~:text=Impact%20on%20Employment&text=Following%20the%20initial%20stay%2Dat,a%20steady%20path%20towards%20recovery."
          target="_blank"
        >
          Covid Unemployment Analysis
        </a>
      </li>
      <li>July - December: Estensive testing of the 
        <a
          href="https://github.com/SANDAG/ABM/wiki"
          target="_blank"
        >
        travel demand model</li>
      </a>
    </ul>
    <a href="https://umich.edu/" target="_blank">
      <h3>University of Michigan</h3>
    </a>
    <ul>
      <li>
        April: Began masters degree in Data Science at the University of
        Michigan
      </li>
    </ul>
  </div>
</div>




        <!-- 2021 -->
        <div class="timeline-item">
          <div class="timeline-date">2021</div>
          <div class="timeline-content">
            <a href="https://www.ucla.edu/" target="_blank">
              <h3>UCLA</h3>
            </a>
            <ul>
              <li>
                June:
                <a
                  href="{{ url_for('static', filename='img/graduation_photo.jpg') }}"
                  target="_blank"
                >
                  Graduated from UCLA
                </a>
                with a Bachelor's in <a
                href="{{ url_for('static', filename='img/econ_meme.jpg') }}"
                target="_blank"
              >
              Economics
              </a>
              </li>
            </ul>
            <a href="https://www.sandag.org/" target="_blank">
              <h3>SANDAG</h3>
            </a>
            <ul>
              <li>September: Began working as a data scientist at the <a
                href="https://www.sandag.org/"
                target="_blank"
              >
              San Diego Association of Governments (SANDAG)
              </a></li>
              <li>
                November: Extensive testing of models used to develop the
                numbers found in the
                <a
                  href="https://www.sandag.org/regional-plan/2021-regional-plan/final-2021-regional-plan"
                  target="_blank"
                >
                  2021 Regional Plan
                </a>
              </li>
            </ul>
          </div>
        </div>
      
        <!-- Future -->
      </div>
    </div>
  </div>
</section>
{% endblock %}
